<!-- Success Alert -->
<div class="flex items-center justify-center mt-10">
  <div *ngIf="loginSuccess" role="alert" class="alert alert-success  max-w-3xl">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Registration successful! Welcome aboard!</span>
  </div>
  <!-- Error Alert -->
  <div *ngIf="loginError" role="alert" class="alert alert-error mb-4 max-w-md">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>{{ errorMessage }}</span>
  </div>
</div>
<div class="flex items-center justify-center mt-30">
  <form (submit)="onLogin()" [formGroup]="loginForm">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 " data-theme="winter">
      <legend class="fieldset-legend">Log In Account</legend>
      <h3 class="flex justify-center text-2xl">Welcome Back !</h3>
      <label class="label">Email</label>
      <input type="email" class="input" placeholder="Email" name="email" id="email" formControlName="email" />

      <label class="label">Password</label>
      <input type="password" class="input" placeholder="Password" name="password" id="password"
        formControlName="password" />

      <button type="submit" class="btn btn-neutral mt-4" type="submit">Resgister</button>
    </fieldset>
  </form>
</div>