<div class="navbar bg-gradient-to-r from-gray-600 to-blue-600 shadow-sm" data-theme="winter">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a [routerLink]="'/home'">Home</a></li>
        <li><a>Competitions</a></li>
        <li><a href="#footer">About</a></li>
        <li><a [routerLink]="'/login'">Login</a></li>
        <li><a [routerLink]="'/register'">Register</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-lg lg:text-xl text-white mr-4" [routerLink]="'/home'">
      <img src="https://cdn-icons-png.flaticon.com/512/1599/1599879.png" alt="" class="w-4 h-4 lg:w-5 lg:h-5" />
      <span class="hidden sm:inline">Students Competitions</span>
      <span class="sm:hidden">SC</span>
    </a>

    <ul class="menu menu-horizontal px-1 hidden lg:flex">
      <li>
        <a class="btn btn-ghost text-white" [routerLink]="'/home'">Home</a>
      </li>
      <li><a class="btn btn-ghost text-white" [routerLink]="'/competition'">Competitions</a></li>
      <li><a class="btn btn-ghost text-white" href="#footer">About</a></li>
    </ul>
  </div>

  <div class="navbar-end flex items-center gap-2">
    <!-- Login/Register buttons (hidden when user is logged in) -->
    @if(userService.loggedUserId ==''){
    <div class="hidden lg:flex gap-2">
      <button class="btn btn-secondary btn-sm lg:btn-md text-white" [routerLink]="'/login'">
        <img
          src="https://cdn4.iconfinder.com/data/icons/internet-security-flat-2/32/Internet_Security_entrance_login_log_in_arrow-256.png"
          alt="Login Icon" class="w-4 h-4" />
        <span class="hidden md:inline">Login</span>
      </button>
      <button class="btn btn-accent btn-sm lg:btn-md text-white" [routerLink]="'/register'">
        <img src="https://cdn2.iconfinder.com/data/icons/ecommerce-line-pack/40/SignUp-256.png" alt="Register Icon"
          class="w-4 h-4" />
        <span class="hidden md:inline">Register</span>
      </button>
    </div>
    }@else{
    <div class="dropdown dropdown-end">
      <div class="flex items-center gap-2">
        <span class="text-white text-lg">{{ userService.loggedUserName}}</span>
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded">
            <img alt="User Avatar"
              src="https://cdn-icons-png.freepik.com/512/17111/17111697.png?ga=GA1.1.572962548.1729020399" />
          </div>
        </div>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[50] mt-3 w-52 p-2 shadow">
        <li>
          <a style="pointer-events: none; cursor: default;">
            <img src="https://cdn-icons-png.freepik.com/512/2194/2194311.png?ga=GA1.1.572962548.1729020399" alt=""
              class="w-4 h-4 inline-block mr-2" />
            Profile
            <span class="badge">upcoming</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/dashboard'">
            <img src="https://cdn-icons-png.freepik.com/512/1991/1991103.png?ga=GA1.1.572962548.1729020399" alt=""
              class="w-4 h-4 inline-block mr-2" />
            Dashboard
            <span class="badge">New</span></a>
        </li>
        <li>
          <a style="pointer-events: none; cursor: default;">
            <img src="https://cdn-icons-png.freepik.com/512/2683/2683274.png?ga=GA1.1.572962548.1729020399" alt=""
              class="w-4 h-4 inline-block mr-2" />My Projects
            <span class="badge">upcoming</span></a>
        </li>
        <li>
          <a (click)="logout()">
            <img src="https://cdn-icons-png.freepik.com/512/10024/10024482.png?ga=GA1.1.572962548.1729020399" alt=""
              class="w-4 h-4 inline-block mr-2" />Logout</a>
        </li>
      </ul>
    </div>
    }
  </div>
</div>
<router-outlet></router-outlet>